*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #2ec4b6, #f7c873);
}

.container{
    width: 380px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h2{
    text-align: center;
    margin-bottom: 15px;
}

.inputBox{
    display: flex;
    gap: 10px;
}

input{
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.add{
    padding: 10px;
    border: none;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.taskList{
    margin-top: 20px;
    list-style: none;
}

.taskList li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.buttons{
    display: flex;
    gap: 5px;
}

button{
    border: none;
    padding: 5px 8px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}

.delete{
    background: red;
}

.edit{
    background: orange;
}

.save{
    background: green;
}